<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="model" type="musin.seeker.vkseeker.web.FullSeekerDto"*/-->
<head>
    <title th:text="${'Changes for ' + model.user}">Changes for ploadyfree</title>
</head>
<body>
<div>
    <h1 th:text="${'Changes for ' + model.user}">Changes for ploadyfree</h1>
</div>

<table border="1" cellpadding="4" cellspacing="4">
    <thead>
    <tr>
        <th>Id</th>
        <th>Time</th>
        <th>Owner</th>
        <th>Target</th>
        <th>Relation type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="change:${model.changes}">
        <td th:text="${change.id}">1</td>
        <td th:text="${#temporals.format(change.time,'dd-MM-yyyy HH:mm:ss')}">1 November 2014 11:10</td>
        <td><a href="https://vk.com/ploadyfree" th:href="${change.owner.link()}" th:text="${change.owner}">ploadyfree</a></td>
        <td><a href="https://vk.com/iddreams_3004" th:href="${change.target.link()}" th:text="${change.target}">iddreams_3004</a></td>
        <td th:text="${change.typeTransfer}">FRIEND</td>
    </tr>
    </tbody>
</table>

</body>
</html>