<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Seekers</title>
</head>
<!--/*@thymesVar id="model" type="musin.seeker.vkseeker.web.SeekerListDto"*/-->
<body>
    <div>
        <h1>Seekers</h1>
    </div>

    <table border="1" cellpadding="4" cellspacing="4">
        <thead>
        <tr>
            <th>User Id</th>
            <th>Name</th>
            <th>Changes</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="seeker:${model.seekers}">
            <td th:text="${seeker.userId}">12345678</td>
            <td><a href="https://vk.com/iddreams_3004" th:href="${seeker.link()}" th:text="${seeker.name}">Mary</a></td>
            <td><a href="#" th:href="@{/seekers/__${seeker.userId}__/changes}">changes</a></td>
            <td><a href="#" th:href="@{/seekers/__${seeker.userId}__/delete}">delete</a></td>
        </tr>
        </tbody>
    </table>

    <a href="#" th:href="@{/seekers/allChanges}">All changes</a> <br/>

    <!--/*@thymesVar id="newSeeker" type="musin.seeker.vkseeker.web.NewSeekerDto"*/-->
    <form method="post" th:action="@{/seekers}" th:object="${newSeeker}">
        <label for="newSeeker">New id to seek: </label>
        <input id="newSeeker" type="text" th:field="*{userId}"/>
        <input type="submit" value="Register"/>
    </form>
</body>
</html>